* {
    font-family: sans-serif;
}

body {
    margin: 2%;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    align-items: center;
}

nav ul li {
    padding: .5rem 1rem;
}

nav ul li a {
    text-decoration: none;
}

.homeButton {
    font-size: 24px;
}

footer {
    text-align: center;
}

img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 15px;
}